Integer to float

In [3]:
a = 34

float(a)

34.0

Float to Integer

In [4]:
x = 54.5

int(x)

54

Integer to String

In [6]:
b = 34

str(b)

'34'

List to tuple

In [10]:
list_cont = [1,2,3,'Ajay','Bijoy',"Raghuveer",'Yuvraj']

j = tuple(list_cont)

In [12]:
# type(j)

Tuple to a List

In [14]:
l = list(j)

type(l)

list

Decimal to binary

In [16]:
p = 23
bina = bin(23)
print(bina)

0b10111

Non Zero to boolean

In [17]:
h = 2
t =bool(h)
print(t)

True