Calculate the sum, difference, product, and quotient of two numbers.

In [3]:
a = 27
b = 3

a + b  #sum

a - b  #difference

a * b  #product

a / b  #quotient

9.0

Perform various assignment operations on a variable.

In [14]:
a = 3
b = 4

c = 27
d = 3

a += b
a -= b
a *= b
a /= b
a %= b
a //=b
a **=b
c &= d
c |= d
c ^= d
c >>= d
c <<= d
# a := b

Compare two numbers and print the results.

In [15]:
x = 24
y = 56

print(x == y)

print(x>=y)

print(x<=x)

print(x>y)

print(x<y)

print(x!=y)

False
False
True
False
True
True

Check conditions using logical operators.

In [20]:
a = 23
b = 1

c = 45
d = 9

a>b and c>d   # logical and
 
a<b or c>d    # logical or

not a>b       # logical not

False

Perform bitwise operations on any two integers.

In [2]:
a = 7
b = 4

a&b   #and

4

In [4]:
a|b  #or

7

In [6]:
a^b #xor

3

In [8]:
~a #not

-8

In [10]:
a>>3 #right shift

0

In [11]:
a<<3 #left shift

56

Use $nary operators to change the sign of a n$mber.

In [15]:
a = 10
b = 5

b = +a
print(b)

10

In [17]:
b = -a
print(b)

-10

In [19]:
b+=1
print(b)

-8

In [20]:
b-=1

Use the ternary operator to assign @al$es based on conditions.